
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Display driving directions</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
.marker {
  background-image: url('https://cdn1.iconfinder.com/data/icons/maps-and-location-v2/64/shadow_pin_floating_google-512.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#b1{
  bottom:20%;
  left:5%;
  display:block;
  position: absolute;
  margin: 0px auto;
  width :100px;
}
#b2{
  bottom:5%;
  left:5%;
  display:block;
  position: absolute;
  margin: 0px auto;
  width :100px;

}
</style>
</head>
<body onload = 'getLocation()'>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'>
</script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
<div id='map'></div>

 <form method="POST">{% csrf_token %}
<input type= "hidden" name="geoc1" id="g1" value="abc">
<input type= "hidden" name="geoc2" id="g2" value="abc">
<input type= "hidden" name="geoc3" id="g3" value="123">
<br>
<button id='b1' class="btn btn-primary" onclick="feed()">Feedback</button>
<button id='b2' class="btn btn-primary" style="margin-top:10px" onclick="sos()" >SOS</button>
</form>


<script>
function weatherBalloon(latitude, longitude ) {
  var key = 'b41265ae14fae548fdf54205e8b72133';
    fetch('https://api.openweathermap.org/data/2.5/weather?lat=' + latitude + '&lon=' + longitude + '&appid=' + key)
      .then(function(resp) { return resp.json() }) // Convert data to json
      .then(function(data) {
        //console.log(data);
        //console.log(data['weather'][0]['main']);
        speakWeather(data['weather'][0]['main']);
    })
      .catch(function() {
      // catch any errors
  });
}
           var y = document.getElementById("result");
            var x;
            window.positionInfo = [0, 0];

           function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(showPosition);
            } else {
                y.innerHTML = "Geolocation is not supported by this browser.";
            }
            }

            function sos(){
              document.getElementById("g3").value = 0;
            }
            function feed(){
              document.getElementById("g3").value = 1;
            }

            function showPosition(position) {
                window.positionInfo = [position.coords.latitude, position.coords.longitude];
              document.getElementById("g1").value = positionInfo[0];
              document.getElementById("g2").value = positionInfo[1];

            }
var flag=0;
var coh=[72.9992,19.1944,74.1714532,19.6193998,74.8165054,20.5226352,74.8165054,20.5226352,72.995289,19.160262,72.88186,19.11452,73.022517,19.043717];
var co={{c|safe}};

//

console.log({{c|safe}});
co = co.concat({{coord}});
mapboxgl.accessToken = 'pk.eyJ1IjoicGRuYWlrIiwiYSI6ImNqdHF1NHZ4bjA1Z3M0M3BsbjdmMm5iankifQ.iBLKK8ExatGKCwZyxpGhLw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/omkar21/cju2q4eo50n2f1fqlq6iwla80',
center: [-79.4512, 43.6568],
zoom: 13
});

map.on('load', function(position) {

  var directions = new MapboxDirections({
   accessToken: mapboxgl.accessToken
  });


   var geolocate = new mapboxgl.GeolocateControl({positionOptions: {enableHighAccuracy: true},trackUserLocation: true});
   var pos;
   map.addControl(geolocate);
  map.addControl(directions, 'top-left');
geolocate.on('geolocate', function(e) {
      var lon = e.coords.longitude;
      var lat= e.coords.latitude;
      var position = [lon, lat];
      getAlert(co,1);
      weatherBalloon(lat, lon);
      if(flag==0){
      directions.setOrigin(lon+','+lat);
      flag=1}

});
  //map.addControl(new mapboxgl.GeolocateControl({positionOptions: {enableHighAccuracy: true},trackUserLocation: true}));

 // directions.setOrigin(positionInfo[1],positionInfo[0]);

  });
var i;
var j;
j=co.length;
for(i=0;i<j;i+=2)
{
var el = document.createElement('div');
el.className = 'marker';
new mapboxgl.Marker(el)
  .setLngLat([co[i], co[i+1]])
  .addTo(map);
}




            function getAlert(geocoordinates, id){
              //console.log(geocoordinates);
                if(id!=3){
                    for(var i=0;i<geocoordinates.length;i+=2){
                        var latitude = geocoordinates[i+1];
                        var longitude = geocoordinates[i];
                        getDistanceFromLatLonInKm(latitude, longitude, id);
                    }
                }
                else{
                    for(var i=0;i<len(geocoordinates);i+=1){
                        getSafeRoadwidth(geocoordinates[i])
                    }
                }
            }
            function getSafeRoadwidth(w) { //w in meters
                if(w<20){
                    document.getElementById("result").innerHTML = "Narrow road";
                    x = "Narrow Road";
                }
            }
            /* Function to find proximity of blackspot*/
            function getDistanceFromLatLonInKm(lat2,lon2, id) {
            var R = 6371; // Radius of the earth in km
            var lat1 = positionInfo[0];
            var lon1 = positionInfo[1];
            //console.log(positionInfo);
            var dLat = deg2rad(lat2-lat1);  // deg2rad below
            var dLon = deg2rad(lon2-lon1);
            var a =
                Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                Math.sin(dLon/2) * Math.sin(dLon/2)
                ;
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
            var d = R * c * 1000; // Distance in m
            if(d<1000){
              console.log("ghusla");
                if(id==1){
                    //document.getElementById("result").innerHTML = "Blackspot nearby";
                    console.log("ajun aat ghusla");
                    speak("Blackspot nearby");
                }
                if(id==2){
                    //document.getElementById("result").innerHTML = "Sharp Turn";
                    speak("Sharp Turn");
                }

            }
            }
            function deg2rad(deg) {
              return deg * (Math.PI/180)
            }


            var z="";
            function speak(x){
                if(window.z != x){
                  window.z = x;
                  for(var i=0;i<3;i++){
                    var msg = new SpeechSynthesisUtterance(x);
                    window.speechSynthesis.speak(msg);
                  }
                }
            }
            var y = "";
            function speakWeather(x) {
                if(x != window.y){
                  window.y = x;
                  var status;
                  if(x=="Thunderstorm" || x=="Rain" || x=="Tornado" || x=="Snow" || x=="Fog") {
                    status = "There is "+ window.y + " in the current region. Please drive safely";
                  }
                  else {
                    status = "The weather is " + window.y;
                  }
                  var msg = new SpeechSynthesisUtterance(status);
                  window.speechSynthesis.speak(msg);
                }
            }
</script>

</body>
</html>
